- if user_signed_in?
  .text-center
    %h2 Users
    %br/
    %br/
    %br/
    .container5
      - @users.each do  |user|
        .card
          %h3
            = user.first_name
          %p= user.address
          = link_to "See", user_path(user)
          = link_to "Delete", user_path(user), method: :delete, data: { |
            confirm: "Are you sure?" }                                  |
        %br/
        %br/
- else
  %br/
  %br/
  %br/
  %h2.text-center You have to sign in or log in
  %br/
  %br/
  .text-center
    = link_to new_user_session_path do
      %button.nav-but.btn#btn08= t(".sign_in", default: "LOGIN")

  .lock
    .unlocker
