<h2 class= "text-center">Tournaments</h2>
<br><br><br>



<div class="text-center">

  <% @tournaments.each do  |tournament| %>


<h3> <%= tournament.name %> </h3>
    <p> Max user : <%= tournament.maxuser %> </p>
    <p> <%= tournament.address %> </p>
    <%= link_to "See", tournament_path(tournament) %>
    <%= link_to "Delete", tournament_path(tournament), method: :delete, data: {
      confirm: "Are you sure?" } %>


<% end %>

</div>



<%= link_to "Add a new tournament", new_tournament_path %>
