
<h2 class= "text-center">Tournaments</h2>
<br><br><br>



<div class="text-center">

  <% @tournaments.each do  |tournament| %>


    <br>

    <div class="flip">
      <div class="cardi">
        <div class="face front">
         <%= tournament.name %>
       </div>
       <div class="face back">
       <div class="address"><%= tournament.date %></div>
      </div>
    </div>
  </div>




  <%= link_to "See", tournament_path(tournament) %>
  <%= link_to "Delete", tournament_path(tournament), method: :delete, data: {
    confirm: "Are you sure?" } %>



  <% end %>



  <br><br>

  <%= link_to "Add a new tournament", new_tournament_path %>
</div>


<script type="text/javascript">
  $('.flip').click(function(){
    $(this).find('.cardi').addClass('flipped').mouseleave(function(){
      $(this).removeClass('flipped');
    });
    return false;
  });
</script>
