%h2.text-center= @tournament.name
%br/
- if current_user.matche.first.nil?
- else current_user.matche.first.tournament == @tournament
  %p.text-center
    = current_user.first_name
    , you are already sign in! Go to the match index!
.yolo
  .my_info.text-center#stat2
    =render "stat2"

  .my_info.text-center
    %p.info
      %span.strong Address;
      = @tournament.address
      %br/
      %span.strong Max player;
      = @tournament.max_player
      %br/
      %span.strong Games;
      = @tournament.games.inject(""){|x,y| x + y.title + ", "}[0..-3]
      %br/
      %span.strong Date;
      = @tournament.date

      .text-center
        - if can? :update, @tournament
          = link_to 'Edit', edit_tournament_path(@tournament)
          = link_to "Delete", tournament_path(@tournament), method: :delete, data: { |
          confirm: "Are you sure?" }                                               |

        %br/
        %br/
        =link_to "Sign in", sign_tournament_path, remote: true, class: "btn btn-primary bouton_position"
        %br
        %br
        =image_tag "ajax-loader1.gif",id: "load", style: "display:none"
        - if can? :update, @tournament

          =link_to "Play tournament", play_games_tournament_path, remote: true, class: "btn btn-success bouton_position"
          %br
          %br
          =image_tag "ajax-loader.gif",id: "load", style: "display:none"
      %div.text-center.milieu#result{style: "display:none"}
        Tournement was played!
        %br
        %br
      %div.text-center.milieu#result1{style: "display:none"}
        You are sign in, good luck! ;)
      %div.text-center.milieu#error1{style: "display:none"}
        You are already sign in, good luck! ;)
      %br/
      = link_to "Back to tournaments", tournaments_path
#stat1
  =render "stat1", tournament: @tournament









