%h2.text-center= @tournament.name
%br/
- if current_user.matche.first.nil?
- else current_user.matche.first.tournament == @tournament
  %p.text-center
    = current_user.first_name
    , you are already sign in! Go to the match index!
.yolo

  .my_info.text-center#stat2
    =render "stat2"
    #helloooo
      - if user_signed_in?
        - avatar_url = current_user.facebook_picture_url || "http://placehold.it/50x50"
        = image_tag avatar_url, class: "avatar-bordered dropdown-toggle", id: "navbar-wagon-menu", " data-toggle" => "dropdown"

  .my_info.text-center
    %h4.text-center Tournament Infos
    %p.info
      %br/
      %br/
      %span.h5 - Address -
      %br/
      = @tournament.address
      %br/
      %br/
      %span.h5 - Max player -
      %br/
      = @tournament.max_player
      %br/
      %br/
      %span.h5 - Games -
      = @tournament.games.inject(""){|x,y| x + y.title + ", "}[0..-3]
      %br/
      %br/
      %span.h5 - Date -
      = @tournament.date

      .text-center
        - if can? :update, @tournament
          = link_to 'Edit', edit_tournament_path(@tournament)
          = link_to "Delete", tournament_path(@tournament), method: :delete, data: { |
          confirm: "Are you sure?" }   |
          %br/
        - if @tournament.close?
        - else
          %br/
          =link_to "Sign in", sign_tournament_path, remote: true, class: "btn btn-primary blue bouton_position"
        - if can? :update, @tournament

          - if @tournament.close?
          - else
            %br/
            = link_to 'Close', close_tournament_path(@tournament), class: "btn red"


        %br
        =image_tag "ajax-loader1.gif",id: "load", style: "display:none"
        - if can? :update, @tournament

          =link_to "Play tournament", play_games_tournament_path, remote: true, class: "btn green btn-success bouton_position"
          %br
          %br
          =image_tag "ajax-loader.gif",id: "load", style: "display:none"
      %div.text-center.milieu#result{style: "display:none"}
        Tournement was played!
        %br
        %br
      %div.text-center.milieu#result1{style: "display:none"}
        You are sign in, good luck! ;)
      %div.text-center.milieu#error1{style: "display:none"}
        You are already sign in, good luck! ;)
      %br/
      = link_to "Back to tournaments", tournaments_path
#stat1
  =render "stat1", tournament: @tournament

:javascript
  $('.btn').prepend('<div class="hover"><span></span><span></span><span></span><span></span><span></span></div>');

  $('.social-btn').prepend('<div class="hover"><span></span><span></span><span></span><span></span></div>');
