<% if current_user.matche.first.nil? %>
<% else current_user.matche.first.tournament == @tournament%>
<p class="text-center"> <%= current_user.first_name %>, you are already sign in! Go to the match index!</p>
<% end%>

  <h2 class="text-center"><%= @tournament.name %></h2>
  <br>

  <br>  <br>  <br>  <br>  <br>  <br>

  <p class="info"> <span class="strong">Address;</span><%= @tournament.address %><br>
    <span class="strong">Max player;</span> <%= @tournament.max_player %> <br> <span class="strong">Date;</span> <%= @tournament.date %></p>

<%= link_to "Delete", tournament_path(@tournament), method: :delete, data: {
      confirm: "Are you sure?" } %>
    <br>

    </div>
  <%= link_to "Back to tournaments", tournaments_path %>
<br>

<% if can? :update, @tournament %>
  <%= link_to 'Edit', edit_tournament_path(@tournament) %>
  \|
<% end %>
<%= link_to 'Sign', sign_tournament_path(@tournament) %>






