<div class="demo">
 <div class="my-nav">
   <div class="navbar navbar-default navbar-fixed-top scrollspy_menu mnav navbar__initial" role="navigation">
    <div class="container">
     <div class="navbar-header mnav">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand mnav" href="#"><i class="fa fa-pied-piper-alt"></i> <span style="color: #e63e30;">R</span>ailsGame <i class="fa fa-pied-piper-pp"></i></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="fullpage__nav nav navbar-nav navbar-right mnav">
       <li> <%= link_to "Tournaments", tournaments_path %></li>
       <li><%= link_to "Users", users_path %></li>
       <li><%= link_to "Games", games_path %></li>
       <li><%= link_to "Matches", matches_path %></li>
       <li><%= link_to "Stats", pages_stat_path %></li>
       <li><%= link_to "Edit profil", edit_user_registration_path %></li>
       <li><% if user_signed_in? %>
         <%= link_to destroy_user_session_path, method: :delete do %>
         <%= t(".sign_out", default: "LOG OUT") %>
         <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
         <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>


         <% end %>
         <% else %>
         <%= link_to new_user_session_path do %>
         <button class="nav-but btn"><%= t(".sign_in", default: "LOGIN") %></button>

         <% end %>
         <% end %></li>

       </ul>
     </div>
   </div>
 </div>
</div>
</div>
