<% if user_signed_in? %>

<h2 class="text-center">Stats</h2>
<br><br>
<div class="container642">
  <div class="ranking">
    <h4 class="text-center">Ranking</h4> <br>
    <% i = 1 %>
    <% User.all.sort_by{|k| k.points}.reverse.each do |user| %>
    <div class="ranking01">
    <div><%= i %> . <%= user.first_name %></div>
      <div> <%= user.points %> pts</div>
    </div>
    <% i += 1 %>
    <% end %>
  </div>
  <div class="my_info">
    <h4 class="text-center">My Stats</h4>
    <p>
      <%= current_user.first_name %> <br><br>
      <%= current_user.nb_win %> victories <br>
      <%= current_user.nb_played %> matchs played <br>
      <%= current_user.nb_loose %> matchs lost <br>
      <p> <%= current_user.nb_draw %> matchs null</p> <br>
      <p class="text-center"><strong>Total points:
        <%= current_user.points%> pts</strong></p> <br>
      </p>
    </div>
  </div>
  <div class="text-center">
    <h4 class="text-center">All users infos</h4>
    <div class="container5">

      <% User.all.each do |user| %>
      <div class="card">
        <%= user.first_name %> <br><br>
        <% i = 0 %>
        <% user.matche.each do |match| %>
        <% match.score %>
        <% i += 1 %>
        <% end %>
        <p>Match played : <%= a = user.matche.where("score is not null").count %></p>
        <p>Match won : <%= b = user.matche.where("matches.user_id = ?", user.id).count %></p>
        <p>Match lost : <%= c =user.matche.where("score is not null and matches.user_id != ?", user.id).count %></p>
        <p>Match nul : <%= a - b - c %></p>
        <br>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  <% else %>
  <h2 class="text-center">You have to sign in or log in </h2>
  <% end %>










