<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-0.5 ">
        <h2 class="text-center">Games</h2>
        <div class="container06">
          <% @games.each do  |game| %>
          <div class="card0">
            <h3> <%= game.title %> </h3>
            <p><%= game.description %></p>
            <%= link_to "See", game_path(game) %>
            <%= link_to "Delete", game_path(game), method: :delete, data: {
              confirm: "Are you sure?" } %>
            </div>
            <% end %>
          </div>
          <%= link_to "Add a new game", new_game_path %>
        </div>
      </div>
    </div>
  </div>
