<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-0.5 ">
        <div class="text-center">
          <h2>Matches</h2>
          <% @matches.each do  |matche| %>
          <div class="card0">
            <h3> <%= matche.score %> </h3>
            <% if !matche.users.first.nil? && !matche.users.second.nil? %>
            <p><%= matche.users.first.first_name%> - <%= matche.users.second.first_name%></p>
            <% end %>
            <% if !matche.game.nil?%>
            <p><%= matche.game.title%>
              <% end %>    /
              <% if !matche.tournament.nil?%>
              <%= matche.tournament.name %></p>
              <% end %>
              <%= link_to "See", match_path(matche) %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>



