.col-sm-6.col-sm-offset-3.col-xs-10{:class => "col-xs-offset-0.5"}
  .summary_of_one_match
    %h2.text-center
      Summary of the match between #{@match.users.first.first_name unless @match.users.empty?} and #{@match.users.second.first_name unless @match.users.size < 2}
    .container6
      %div
        %p
          %br/
          %br/
          %b User 1:
          = @match.users.first.first_name unless @match.users.empty?
        %p
          %b User 2:
          - if @match.users.second.nil?
          - else
            = @match.users.second.first_name unless @match.users.size < 2
        %b Score:
        - if @match.score.nil?
          Not Played yet
        - else
          = @match.score
      %div
    %br/
    %br/
    %br/
    %br/
    %h3 Other match in this tournament;
    - i = 1
    .container09
      - @tournament.matche.each do |match|
        .cardmatch
          Match number : #{i}
          - if match.score.nil?
            %br/
            Score: Not played
          - else
            %br/
            Score : #{match.score}
          %br/
          = @match.users.first.first_name
          VS
          - if @match.users.second.nil?
          - else
            = @match.users.second.first_name
          %br/
          %br/
          - i = i + 1
    = link_to 'Back', matches_path
